@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura\ Heavy\ font.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid';
    src: url('assets/fonts/droid-serif/DroidSerif.ttf') format('truetype');
}

body{
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#landing-page{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("assets/img/perkapens.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color{
    position: absolute;
    opacity: 0.5;  
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

center{
    z-index: 1;
}

#profile-page{
    width: 100%;
    height: 100vh;

}

#profile-page .tab-link{
    opacity: 0.7;
    display: inline-block;
    cursor: pointer;
    margin-top: 4rem;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

#profile-page .link-active{
    opacity: 1;
    font-weight: bold;

}

#profile-page .tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#profile-page .link-active::after{
    width: 100%;
}

#profile-page .tab-content{
    display: none;
}

#profile-page .content-active{
    display: block;
    padding-top: 3rem;
}
  
li {
    display: inline;
}

.navigation-profile a{
    text-decoration: none;
    color: black;
    /* margin-right: 4rem; */
    margin-top: 30px;
}

.visi{
    padding-right: 20px;
    padding-left: 20px;
}

#profile-page .content-visi-misi p{
    padding-top: 20px;
    text-align: center;
}

#informasi{
    width: 100%;
    height: 48rem;
    background-color: #782C43;
}

/* Kegiatan Ekstrakurikuler */

#informasi .title{
    font-family: 'Futura', sans-serif;
    color: #EEE2DE;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

#informasi .wrapper{
    padding-left: 4%;
    padding-right: 4%;
}

#informasi .wrapper .sidebar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#informasi .wrapper .card{
    width: 100%;
    height: 260px;
    position: relative;
    background-color: transparent;
}

#informasi .wrapper .foto-eskul{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#informasi .wrapper .btn-sidebar:focus,
#informasi .wrapper .btn-sidebar:active {
  box-shadow: none;
}

#informasi .wrapper .btn-sidebar{
    border: none;
    font-family: 'Futura', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    position: relative;
}

#informasi .wrapper .btn-sidebar.btn-active::after {
  display: none;
}

#informasi .sidebar .btn-active{
    background-color: #EBC530;
    color: #782C43;
}

#informasi .wrapper .btn-sidebar::after{
    content: '';
    width: 35%;
    height: 3px;
    background: #EBC530;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#informasi .title-eskul{
    font-family: 'Futura', sans-serif;
    color: #EEE2DE;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

#informasi .description-eskul{
    font-family: 'Droid', sans-serif;
    font-size: 15px;
}

#informasi .icon-informasi{
    width: 15px;
}

#informasi .informasi-eskul{
    font-family: 'Futura', sans-serif;
    color: #EEE2DE;
    font-weight: bold;
    font-size: 20px;
}

#informasi .kegiatan-eskul{
    border-left: 4px solid #EBC530;
}

#informasi .kegiatan-eskul .kanan{
    text-align: end;
    margin-bottom: 15px;
}

#informasi .kegiatan-eskul .kiri{
    margin-bottom: 25px;
}

/* Fasilitas dan Infrastruktur */
#informasi .fasilitas-infrastruktur img{
    width: 100%;
    height: 270px;
    /* opacity: 0.6; */
}

#informasi .fasilitas-infrastruktur .wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 100%);
  }

#informasi .fasilitas-infrastruktur .wrap{
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#informasi .row{
    padding-left: 20px;
}

#informasi .fasilitas-infrastruktur{
    border-left: 4px solid #EBC530;
}

#informasi .fasilitas-infrastruktur .title{
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 0;
    font-family: 'Futura', sans-serif;
    color: #fff;
    text-transform: none;
}

#informasi .fasilitas-infrastruktur .description{
    color: #fff;
    font-family: 'Droid', sans-serif;
    font-size: 12px;
}

#informasi .fasilitas-infrastruktur .text-overlay{
    position: absolute;
    bottom: 0 ;
    left: 0;
    padding: 15px;
}

#informasi .content{
    display: none;
}

#informasi .content-informasi-active{
    display: block;
}

/* Kebijakan prosedur */
#informasi .kebijakan-prosedur{
    border-left: 4px solid #EBC530;
}

#informasi .kebijakan-prosedur embed{
    width: 100%;
    height: 555px;
    padding-left: 20px;
}

#galeri .carousel{
    width: 90%;
    height: 500px;
    display: flex;
    margin-bottom: 40px;
}

#galeri img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#galeri .title{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Futura', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#galeri{
    padding-top: 4rem;
    margin-bottom: 2rem;
}

#contact{
    background-color: #782C43;
    padding-top: 2rem;
    padding-bottom: 20px;
}

#contact h1{
    color: #fff;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.underline{
    position: relative;
    display: inline-block;
}

.underline::after{
    content: '';
    width: 70%;
    height: 3px;
    background: #EBC530;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    display: block;
}

#contact img{
    width: 30px;
}

#contact .contact-list{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#contact p{
    color: #fff;
    padding-left: 15px;
    margin-top: 10px;
}

#contact .wrapper{
    padding-left: 20px;
    padding-right: 20px;    
}

footer{
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 14px;
}