@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura\ Heavy\ font.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Medium';
    src: url('assets/fonts/futura/futura\ medium\ bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Light';
    src: url('assets/fonts/futura/futura\ light\ bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid';
    src: url('assets/fonts/droid-serif/DroidSerif.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}


body{
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#landing-page{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("assets/img/landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#landing-page h1{
    font-family: 'Futura', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
}

#landing-page button{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #EBC530;
    font-family: 'Futura Medium', sans-serif;
    color: #782C43;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 20px;
}

#landing-page .btn:focus,
#landing-page a.btn:focus {
  box-shadow: none; /* Menghilangkan garis fokus saat tombol ditekan (opsional) */
}

.color{
    position: absolute;
    opacity: 0.7;  
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.color-white{
    position: absolute;
    opacity: 0.9;  
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

center{
    z-index: 1;
}

#profile-page{
    width: 100%;
    height: 110vh;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    background-image: url("assets/img/bg-profil.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}



#profile-page img{
    width: 100%;
    height: 100%;
}

#profile-page .tab-link{
    margin-right: 50px;
    margin-left: 50px;
}

#profile-page .tab-link{
    opacity: 0.6;
    display: inline-block;
    cursor: pointer;
    margin-top: 3.5rem;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-bottom: 2rem;
    font-family: 'Futura', sans-serif;
    color: #000;
    font-size: 20px;
}

#profile-page .link-active{
    opacity: 1;
    font-weight: bold;
    font-family: 'Futura', sans-serif;
    color: #EBC530;
    font-size: 20px;
}

#profile-page .tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #EBC530;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#profile-page .link-active::after{
    width: 100%;
}

#profile-page .tab-content{
    display: none;
}

#profile-page .content-active{
    display: block;
    padding-top: 3rem;
}

#profile-page .teks-tentang-sekolah{
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 16px;
}

#profile-page .wrapper{
    width: 100%;
    /* height: 400px; */
    background-color: #EBC530;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
}

#profile-page .wrapper-lokasi{
    width: 70%;
    /* height: 530px; */
    background-color: #EBC530;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
}

#profile-page .alamat-lokasi p{
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 16px;
    margin-top: 20px;
}
  
li {
    display: inline;
}

.navigation-profile a{
    text-decoration: none;
    color: black;
    /* margin-right: 4rem; */
    margin-top: 30px;
}

.navigation-profile{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
    margin-top: 20px;
}

.visi{
    padding-right: 20px;
    padding-left: 20px;
}

.misi{
    text-align: start;
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 13px;
    margin-top: 0;
    padding-top: 0;
}

#profile-page .content-visi-misi h1{
    font-family: 'Futura', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

#profile-page .content-visi-misi p{
    padding-top: 20px;
    text-align: start;
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 16px;
    margin-bottom: 0;
}

#informasi{
    width: 100%;
    height: 48rem;
    background-color: #782C43;
}

/* Kegiatan Ekstrakurikuler */

#informasi .title{
    font-family: 'Futura', sans-serif;
    color: #EEE2DE;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

#informasi .wrapper{
    padding-left: 4%;
    padding-right: 4%;
}

#informasi .wrapper .sidebar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#informasi .wrapper .card{
    width: 100%;
    height: 260px;
    position: relative;
    background-color: transparent;
}

#informasi .wrapper .foto-eskul{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#informasi .wrapper .btn-sidebar:focus,
#informasi .wrapper .btn-sidebar:active {
  box-shadow: none;
}

#informasi .wrapper .btn-sidebar{
    border: none;
    font-family: 'Futura', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    position: relative;
}

#informasi .wrapper .btn-sidebar.btn-active::after {
  display: none;
}

#informasi .sidebar .btn-active{
    background-color: #EBC530;
    color: #782C43;
}

#informasi .wrapper .btn-sidebar::after{
    content: '';
    width: 35%;
    height: 3px;
    background: #EBC530;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}


#informasi .title-eskul{
    font-family: 'Futura', sans-serif;
    color: #EEE2DE;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

#informasi .description-eskul{
    font-family: 'Droid', sans-serif;
    font-size: 15px;
}

#informasi .icon-informasi{
    width: 15px;
}

#informasi .informasi-eskul{
    font-family: 'Futura', sans-serif;
    color: #EEE2DE;
    font-weight: bold;
    font-size: 20px;
}

#informasi .kegiatan-eskul{
    border-left: 4px solid #EBC530;
}

#informasi .kegiatan-eskul .kanan{
    text-align: end;
    margin-bottom: 35px;
}

#informasi .kegiatan-eskul .kiri{
    margin-bottom: 25px;
}

#informasi .carousel-indicators{
    /* position: absolute;
    bottom: 0; */
    /* padding-top: 20px; */
    margin-bottom: 0px;
}

/* Fasilitas dan Infrastruktur */
#informasi .fasilitas-infrastruktur img{
    width: 100%;
    height: 270px;
    /* opacity: 0.6; */
}

#informasi .fasilitas-infrastruktur .wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 100%);
  }

#informasi .fasilitas-infrastruktur .wrap{
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#informasi .row:not(:last-child){
    margin-bottom: 20px;
}

#informasi .fasilitas-infrastruktur{
    border-left: 4px solid #EBC530;
    height: 570px;
    overflow: hidden;
    overflow-y: scroll;
}

#informasi .fasilitas-infrastruktur .title{
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 0;
    font-family: 'Futura', sans-serif;
    color: #fff;
    text-transform: none;
}

#informasi .fasilitas-infrastruktur .description{
    color: #fff;
    font-family: 'Droid', sans-serif;
    font-size: 12px;
}

#informasi .fasilitas-infrastruktur .text-overlay{
    position: absolute;
    bottom: 0 ;
    left: 0;
    padding: 15px;
}

#informasi .content{
    display: none;
}

#informasi .content-informasi-active{
    display: block;
}

/* Kebijakan prosedur */
#informasi .kebijakan-prosedur{
    border-left: 4px solid #EBC530;
}

#informasi .kebijakan-prosedur embed{
    width: 100%;
    height: 555px;
    padding-left: 20px;
}

#galeri .title{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Futura', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#galeri .subtitle{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Futura Light', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
}

#galeri{
    padding-top: 5rem;
    /* margin-bottom: 2rem; */
    height: 100vh;
}



#galeri .content{
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
    /* margin-right: 50px; */
    padding-right: 4%;
}

#galeri .card{
    box-shadow: 5px 8px 14px 0 rgba(0,0,0,0.2);
    width: 140%;
}

#galeri .card-body{
    background-color: #333333;
    
}

#galeri .galeri-sekolah img{
    width: 100%;
    height: 180px;
}

#galeri .card-text{
    color: #F2F2F2;
    font-family: 'Futura Medium', sans-serif;
    font-size: 16px;
    text-align: center;
}

#galeri .row{
    padding-top: 1rem;
    /* padding-left: 20px; */
    /* padding-right: 0;
    margin-right: 0;
    margin-left: 0; */
}

/* #galeri .justify-content-start{
    margin: 0;
    padding: 0;
} */

#galeri .row > .galeri-sekolah:not(:last-child) {
    margin-right: 9%;
}

#galeri .row > .galeri-sekolah:not(:last-of-type) {
    margin-bottom: 30px;
  }

#contact{
    background-color: #782C43;
    padding-top: 2rem;
    padding-bottom: 20px;
}

#contact h1{
    color: #fff;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.underline{
    position: relative;
    display: inline-block;
}

.underline::after{
    content: '';
    width: 70%;
    height: 3px;
    background: #EBC530;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    display: block;
}

#contact img{
    width: 30px;
}

#contact .contact-list{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#contact p{
    color: #fff;
    padding-left: 15px;
    margin-top: 10px;
}

#contact .wrapper{
    padding-left: 20px;
    padding-right: 20px;    
}

footer{
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 1205px){
    /* Informasi */
    #informasi{
        width: 100%;
        height: auto;
        background-color: #782C43;
    }
}

/* Gaya untuk tampilan tablet */
@media screen and (max-width: 820px){
    /* Navbar */
    .navbar a{
        /* font-family: 'Futura Medium', sans-serif; */
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
    }

    .navbar-brand img{
        display: none;
    }

    /* Landing page */
    #landing-page h1{
        font-family: 'Futura', sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
    }

    #landing-page button{
        padding-left: 44px;
        padding-right: 44px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        background-color: #EBC530;
        font-family: 'Futura Medium', sans-serif;
        color: #782C43;
        text-transform: uppercase;
        font-size: 18px;
        border-radius: 20px;
    }

     /* Profil sekolah */
     #profile-page{
        width: 100%;
        height: auto;
        position: relative;
    }

    #profile-page .content-active{
        display: block;
        padding-bottom: 3rem;
    }

    /* Informasi */
    #informasi{
        width: 100%;
        height: auto;
        background-color: #782C43;
    }

    #informasi .wrapper{
        padding-left: 4%;
        padding-right: 4%;
    }

    #informasi .wrapper .card{
        width: 100%;
        height: 200px;
        position: relative;
        background-color: transparent;
    }

    #informasi .wrapper .btn-sidebar{
        border: none;
        font-family: 'Futura', sans-serif;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background-color: transparent;
        position: relative;
    }
    
    #informasi .wrapper .btn-sidebar.btn-active::after {
      display: none;
    }
    
    #informasi .sidebar .btn-active{
        background-color: #EBC530;
        color: #782C43;
    }
    
    #informasi .wrapper .btn-sidebar::after{
        content: '';
        width: 35%;
        height: 3px;
        background: #EBC530;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    #informasi .description-eskul{
        font-family: 'Droid', sans-serif;
        font-size: 12px;
    }

    #informasi .informasi-eskul{
        font-family: 'Futura', sans-serif;
        color: #EEE2DE;
        font-weight: bold;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    #galeri{
        height: auto;
    }

    #galeri .card{
        box-shadow: 5px 8px 14px 0 rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
    }

    #galeri .galeri-sekolah img{
        width: 100%;
        height: 100%;
    }
}

/* Gaya untuk tampilan mobile */
@media screen and (max-width: 480px){
    /* Navbar */
    .navbar a{
        /* font-family: 'Futura Medium', sans-serif; */
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
    }

    .navbar-brand img{
        display: none;
    }

    /* Landing page */
    #landing-page h1{
        font-family: 'Futura', sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 32px;
    }

    #landing-page button{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        background-color: #EBC530;
        font-family: 'Futura Medium', sans-serif;
        color: #782C43;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 20px;
    }

    /* Profil sekolah */
    #profile-page{
        width: 100%;
        height: auto;
        position: relative;
    }

    #profile-page .tab-link{
        margin-right: 20px;
        margin-left: 20px;
    }
    
    #profile-page .tab-link{
        opacity: 0.6;
        display: inline-block;
        cursor: pointer;
        margin-top: 2rem;
        padding-left: 1px;
        padding-right: 1px;
        position: relative;
        margin-bottom: 0;
        font-family: 'Futura', sans-serif;
        color: #000;
        font-size: 18px;
        text-align: start;
    }
    
    #profile-page .link-active{
        opacity: 1;
        font-weight: bold;
        font-family: 'Futura', sans-serif;
        color: #EBC530;
        font-size: 18px;
    }
    
    #profile-page .tab-link::after{
        content: '';
        width: 0;
        height: 3px;
        background: #EBC530;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    #profile-page .link-active::after{
        width: 100%;
    }
    
    #profile-page .tab-content{
        display: none;
    }
    
    #profile-page .content-active{
        display: block;
        padding-top: 3rem;
    }

    .navigation-profile{
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        padding-left: 0;
        margin: 0;
        margin-top: 20px;
    }

    #profile-page .teks-tentang-sekolah{
        padding-top: 20px;
        font-family: 'Inter', sans-serif;
        color: #000;
        font-size: 14px;
        margin-bottom: 8rem;
    }

    #profile-page .content-visi-misi h1{
        font-family: 'Futura', sans-serif;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
    }
    
    #profile-page .content-visi-misi p{
        padding-top: 20px;
        text-align: center;
        font-family: 'Inter', sans-serif;
        color: #000;
        font-size: 14px;
    }

    #profile-page .wrapper{
        width: 100%;
        /* height: 290px; */
        background-color: #EBC530;
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
        padding-right: 30px;
        border-radius: 8px;
        /* overflow: hidden; */
    }

    .visi{
        padding-right: 12px;
        padding-left: 12px;
    }

    #profile-page .wrapper-lokasi{
        width: 100%;
        /* height: 300px; */
        background-color: #EBC530;
        padding-top: 30px;
        border-radius: 8px;
        /* padding-bottom: 30px; */
    }

    #lokasi{
        height: 70vh;
    }

    #profile-page .wrapper-lokasi iframe{
        height: 200px;
    }
    
    #profile-page .alamat-lokasi p{
        font-family: 'Inter', sans-serif;
        color: #000;
        font-size: 16px;
    }

    /* Informasi */
    #informasi{
        width: 100%;
        height: 100%;
        background-color: #782C43;
    }

    #informasi .wrapper{
        padding-left: 4%;
        padding-right: 4%;
    }
    
    #informasi .wrapper .sidebar{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #informasi .wrapper .card{
        width: 100%;
        height: 260px;
        position: relative;
        background-color: transparent;
    }
    
    #informasi .wrapper .foto-eskul{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    #informasi .wrapper .btn-sidebar:focus,
    #informasi .wrapper .btn-sidebar:active {
      box-shadow: none;
    }
    
    #informasi .wrapper .btn-sidebar{
        border: none;
        font-family: 'Futura', sans-serif;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        background-color: transparent;
        position: relative;
    }
    
    #informasi .wrapper .btn-sidebar.btn-active::after {
      display: none;
    }
    
    #informasi .sidebar .btn-active{
        background-color: #EBC530;
        color: #782C43;
    }
    
    #informasi .wrapper .btn-sidebar::after{
        content: '';
        width: 35%;
        height: 3px;
        background: #EBC530;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    #informasi .kegiatan-eskul{
        border: none;
    }

    #informasi .fasilitas-infrastruktur{
        border: none;
    }

    #informasi .kebijakan-prosedur{
        border: none;
    }

    #informasi .row:not(:last-child){
        margin-bottom: 0px;
    }

    #informasi .wrap{
        margin-bottom: 20px;
    }

    #galeri{
        padding-top: 5rem;
        /* margin-bottom: 2rem; */
        height: 100%;
        padding-bottom: 2rem;
    }

    #galeri .galeri-sekolah img{
        width: 100%;
        height: 100%;
    }

    #galeri .card{
        box-shadow: 5px 8px 14px 0 rgba(0,0,0,0.2);
        width: 100%;
    }
}